.btnWarp {
    display: flex;
    justify-content: right;
    padding-right: 30px;
}

.searchCondition {
    width: 100%;
    // height: 175px;
    // background: #ffffff;
}

.searchCondition1 {
    width: 100%;
    height: 110px;
    background: #ffffff;
    padding-top: 40px;
}

.tableBg {
    margin-top: 195px;
    width: 100%;
    min-height: 60vh;
    background: #ffffff;
}

.tableBg1 {
    margin-top: 20px;
    width: 100%;
    min-height: 60vh;
    background: #ffffff;
}

.pagination {
    height: 40px;
    background: #ffffff;
}

.detailContent {
    font-size: 15px;
}

.formTitle {
    height: 20px;
    font-size: 14px;
    font-family: PingFang SC-Regular, PingFang SC;
    font-weight: 400;
    color: #999999;
    line-height: 20px;
}

.formContent {
    height: 20px;
    font-size: 14px;
    font-family: PingFang SC-Bold, PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 20px;
}

.resultContent {
    width: 95%;
    height: 180px;
    background: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    opacity: 1;
    margin: 10px auto;
    padding: 15px 0 0 25px;
}

.resultContent1 {
    width: 95%;
    height: 100px;
    background: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    opacity: 1;
    margin: 10px auto;
    padding: 15px 0 0 25px;
}

.templateDetailTable {
    width: 95%;
    min-height: 180px;
    background: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    opacity: 1;
    margin: 10px auto;
    padding: 15px 15px 5px 25px;
}

.resgitAddBg {
    width: 95%;
    min-height: 60vh;
    background: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    opacity: 1;
    margin: 10px auto;
    padding: 15px 0 0 25px;
}

.contentTitle {
    height: 22px;
    font-size: 16px;
    font-family: PingFang SC-Heavy, PingFang SC;
    font-weight: 800;
    color: #333333;
    line-height: 22px;
    margin: 0 0;
}

.lastRouter {
    cursor: pointer;
}

.currentRouter {
    margin-left: 10px;
    font-weight: normal;
    color: #666666;
}

.title {
    height: 30px;
    font-size: 22px;
    font-family: PingFang SC-Bold, PingFang SC;
    font-weight: bold;
    color: #333333;
    line-height: 0px;
    text-align: left;
    margin-top: 20px;
}

.emptyWord {
    font-size: 18px;
    font-family: PingFang SC-常规体, PingFang SC;
    font-weight: normal;
    color: #333333;
}
p{
    margin: 0 0;
}
h3{
    margin: 0 0;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.resultWarp {
    width: 95%;
    height: 250px;
    background: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    opacity: 1;
    margin: 50px auto 20px;
    overflow: hidden;

    .authResultImg {
        width: 80px;
        height: 80px;
        display: block;
        margin: 46px auto 21px;
 
    }

    .authResultText1 {
        font-size: 24px;
        font-family: PingFang SC-常规体, PingFang SC;
        font-weight: normal;
        color: rgb(72,140,233);
        line-height: 24px;
        text-align: center;
        margin: 0 0;
    }

    .authResultText2 {
        margin-top:20px;
        height: 20px;
        font-size: 14px;
        font-family: PingFang SC-常规体, PingFang SC;
        font-weight: normal;
        color: rgb(72,140,233);;
        line-height: 20px;
        margin: 7px auto 0;
        text-align: center;
        cursor: pointer;
    }
}
.contentTitle {
    height: 22px;
    font-size: 16px;
    font-family: PingFang SC-Heavy, PingFang SC;
    font-weight: 800;
    color: #333333;
    line-height: 22px;
    margin: 0 0;
}
.toOther{
   cursor: pointer;
   color: #2F88FF;
}
.toOther:hover{
    color: #559EFF;
 }