.hoverTo {
    color: #707070;
}

.hoverTo:hover {
    color: #559eff;
}

.right {
    margin-top: 3.75rem;
    margin-left: 20rem;
    padding: 1.25rem 1.875rem;
}

.title {
    font-size: 1.75rem;
    font-family: PingFang SC-Bold, PingFang SC;
    font-weight: bold;
    color: #333333;
}